div.fanficDetails {
    max-width:60em;
    margin:auto;
    padding:0 1em;
}

.pageHeader {
    height : 50px;
    margin-left: auto;
    margin-right: auto;
}

.headerMenu ul {
    padding-left: 0;
    margin-left: none;
}

.headerMenu li, input, form {
    list-style: none;
    margin-left: 4px;
    margin-right: 4px;
    display: inline;
    clear: none;
}

.menuRight {
    float: right;
}

.menuLeft {
    float: left;
}

ul.commaList {
  display: inline;
  list-style: none;
  padding: 0;
}

ul.commaList li {
  display: inline;
}

ul.commaList li:after {
  content: ", ";
}

ul.commaList li:last-child:after {
  content: "";
}

th {
  white-space: nowrap;
  vertical-align: top;
  text-align: left;
}

td.description p:first-child {
  margin-top: 0;
}

td.description p:last-child {
  margin-bottom : 0;
}
